body{
    margin: 0;
}
ul{
    list-style: none;
    li{
        float: left;
        width: 150px;
        height: 150px;
        margin-left: 20px;
        margin-top: 20px;
        background-color: #b0b0b0;
    }
}
.svg-container{
    background-color: lightgray;
}
.sub-sevenpiecepuzzle{
    display: inline;
}
